<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <property name = "pattern"
              value = "%d{yyyy-MM-dd HH:mm:ss.SSS} -x- %c [%thread] %-5level %msg%n"/>
    <property name="log_dir"
              value="/Users/jrk/repository/java-logging-learning/logback-learning/src/logs"/>

    <!-- 3.appender 日志输出目的地 -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.err</target>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>
    <appender name="roll_file" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- a. 日志文件保存路径 -->
        <file>${log_dir}/logback_roll.log</file>
        <!-- b. 日志消息格式配置  -->
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${pattern}</pattern>
        </encoder>
        <!-- c. 指定日志拆分的规则 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log_dir}/logback_roll.%d{yyyy-MM-dd-HH-mm-ss}.log_%i</fileNamePattern>
            <maxFileSize>2MB</maxFileSize>
        </rollingPolicy>
    </appender>

    <!-- 异步日志 -->
    <appender name="async" class="ch.qos.logback.classic.AsyncAppender">
        <!-- 指定某个具体的 appender 对象 -->
        <appender-ref ref="roll_file"/>
    </appender>

    <root level="ALL">
        <appender-ref ref="console"/>
    </root>

    <logger name="com.learn.TestLogback07"
            level="INFO" additivity="true">
        <appender-ref ref="async"/>
    </logger>

</configuration>